<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <div class="field">
    <label>Station Name</label>
    <input placeholder="Name" type="text" name="name">
  </div>
  <label>Latitude</label>
  <div class="field">
    <input placeholder="Latitude" type="number" name="latitude">
  </div>
  <label>Longitude</label>
  <div class="field">
    <input placeholder="Longitude" type="number" name="longitude">
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>