{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  <h4> Temperature: {{stationSummary.latestTempC.temperature}} C; Temperature: {{stationSummary.latestTempF.temperature}} F</h4>
  {{> listreadings}}
  {{> addreading}}
</section>