{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
    {{station.latitude}}
    {{station.longitude}}
  </h2>
  {{> latestreading}}
  {{> addreport}}
  {{> listreadings}}
  {{> addreading}}
</section>